<nav class="navbar fixed-bottom" style="background-color: #1f6f78;">
  <div class="container-fluid d-flex justify-content-around">

    <a href="/" class="nav-link text-white text-center">
      <i class="bi bi-house"></i>
      <div>Home</div>
    </a>

    <a href="/map" class="nav-link text-white text-center">
      <i class="bi bi-geo-alt"></i>
      <div>Favourites</div>
    </a>

    <a href="/report" class="nav-link text-white text-center">
      <i class="bi bi-flag"></i>
      <div>Report</div>
    </a>

    <a href="/profile" class="nav-link text-white text-center">
      <i class="bi bi-person"></i>
      <div>Profile</div>
    </a>

  </div>
</nav>