<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">ShadeFinder</a>

    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

    <% if (locals.session?.authenticated) { %>
      <div class="ms-auto">
        <form method="post" action="/loggingOut">
          <input type="submit" class="btn btn-outline-light border-0" value="Log Out">
        </form>
      </div>
    <% } else { %>
      <ul class="navbar-nav ms-auto">
        <li>
          <form method="get" action="/login">
            <input type="submit" class="btn btn-outline-light border-0" value="Log In">
          </form>
        </li>
        <li>
          <form method="get" action="/signup">
            <input type="submit" class="btn btn-outline-light border-0" value="Sign Up">
          </form>
        </li>      
      </ul>
    <% } %>

    </div>
  </div>
</nav>

<!-- <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-around">

    <a href="/" class="nav-link text-white text-center">
      <i class="bi bi-house"></i>
      <div>Home</div>
    </a>

    <a href="/map" class="nav-link text-white text-center">
      <i class="bi bi-geo-alt"></i>
      <div>Favourites</div>
    </a>

    <a href="/report" class="nav-link text-white text-center">
      <i class="bi bi-flag"></i>
      <div>Report</div>
    </a>

    <a href="/profile" class="nav-link text-white text-center">
      <i class="bi bi-person"></i>
      <div>Profile</div>
    </a>

  </div>
</nav> -->