<main>
    <div class="text-start border-bottom py-5">

        <h1 class="display-4 fw-bold">Log In</h1>

        <form method="post" action="/loggingin" class="form-group">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control mb-2 w-25" id="username" placeholder="Username" name="username">
                <label for="email">Email address</label>
                <input type="email" class="form-control mb-2 w-25" id="email" placeholder="Email" name="email">
                <label for="password">Password</label>
                <input type="email" class="form-control mb-2 w-25" id="password" placeholder="Password" name="password">
                <br>
                <input class="btn btn-primary" type="submit" value="Log in">
            </div>
        </form>

    </div>
</main>